.panel.panel-default
  .panel-heading 基本信息
  .panel-body
    = simple_form_for [:dashboard, @user], html: { multipart: true }  do |f|
      = f.input :mobile, label: "电话号码", readonly: true
      = f.input :password, as: :password, label: "密码"
      = f.submit f.object.persisted? ? "修改" : "增加", class: 'btn btn-primary btn-default'

.panel.panel-default
  .panel-heading 地区信息
  .panel-body
    = simple_form_for [:dashboard, @user], html: { multipart: true }  do |f|
      .city-group
        = f.input :provice, as: :select, collection: ChinaCity.list, input_html: { class: 'city-select' }, label: "省份", include_blank: false
        = f.input :city, as: :select, collection:  f.object.provice ? ChinaCity.list(f.object.provice) : ["--城市--"], input_html: { class: 'city-select' }, label: "城市", include_blank: false
        = f.input :region, as: :select, collection: f.object.city ? ChinaCity.list(f.object.city) : ["--地区--"], input_html: { class: 'city-select' }, label: "区县", include_blank: false

      = f.submit f.object.persisted? ? "修改" : "增加", class: 'btn btn-primary btn-default'

